@import "./variable.scss";

//custom elmennts
.common-strong-heading {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  margin: 30px 0;
  color: $main-color;
}

.custom-talent-title,
.custom-value-title {
  font-weight: 600;
  color: $main-color;
  font-size: 16px;
  margin-bottom: 12px;
}

.common-btn-main {
  padding: 8px 12px;
  border-radius: $border-radius;
  background-color: $main-color;
  color: $white;
  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s $transition-cubic;

  &:active {
    border: none;
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.common-input {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 8px 12px;
  outline: none;
}

.hide-text-focus {
  &:focus::placeholder {
    color: #fff;
  }
}

//end custom elmennts

//reuse class
.fs-13 {
  font-size: 13px !important;
}
//end reuse class

.top-header {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  color: $white;
}

.social {
  &-list {
    display: flex;
    gap: 8px;
    margin-bottom: 0;

    &__item {
      list-style: none;
      width: 24px;
      height: 24px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list .navbar-brand img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.nav-uper .nav-item {
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  margin-right: 4px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $main-color;
    transition: 0.8s $transition-cubic;
  }

  &:hover::after {
    width: 100%;
    transition: 0.5s $transition-cubic;
  }
}

.top-nav {
  .dropdown-item {
    text-transform: capitalize;
    font-size: 13px;
  }
}

.top-banner {
  &__bg {
    background: url("http://3sdent.com/images/background.png"), center,
      no-repeat;
    background-size: cover;

    & h2 {
      display: block;
      text-align: center;
      padding: 88px 0;
      font-size: 30px;
      text-transform: uppercase;
    }
  }

  &__intro {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #8c8c8c;
    font-size: 13px;
  }
}

.about-us {
  &__info {
    & strong {
      color: $main-color;
    }
  }

  &__staff {
    margin-top: 20px;

    & h4 {
      font-size: 16px;
      font-weight: 600;
      color: $main-color;
      margin-bottom: 12px;
    }
  }

  &__image {
    height: 495px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.footer {
  background-color: #f8f9fa;
  opacity: 0.8;
}

.copy-right {
  background-color: $main-color;
  text-align: center;
  padding: 8px 16px;
  color: $white;
}

.product-container {
  .product-list {
    .product-block {
      padding: 16px;
      background-color: #fff;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__image {
        width: 100%;

        & img {
          width: 100%;
          border-radius: 8px;
        }
      }

      &__desc {
        font-size: $font-size-base;
      }
    }
  }
}

.warranty-lookup {
  &__container {
    width: 60%;
    padding: 20px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin: auto;
  }

  &__result-wrapper {
    padding: 20px;
    padding-top: 32px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }
}
